// brand color primary colors

$primary-white-normal: #FFFFFF;
$primary-white-light: #FFFFFF;
$primary-white-dark: #BFBFBF;


//color black 

$primary-dark-normal: #000000;
$primary-dark-light: #3C3B3B;
$primary-dark-dark: #000000;

// color pink

$primary-pink-normal:#E0119D;
$primary-pink-light: #E50CDC;
$primary-pink-dark: #C70C63;

//color yellows

$primary-yellow-normal: #D8965A;
$primary-yellow-light:#D5B85D;
$primary-yellow-dark: #BCB950;


$tacha: #D5B85D;


.border{
    border: 1px solid red;
}