// thypograph of project


@mixin typeface-1($size, $device: desktop){
    font-family: 'Sora', sans-serif;

    //h1
    @if $size == h1 and $device == desktop{
        font-size: 62px;
        line-height: 100%;

    }@else if $size ==h1 and $device == mobile{
        font-size: 48px;
        line-height: 120%;
    }
    //h2
    @else if $size == h2 and $device == desktop{
        font-size: 48px;
        line-height: 100%;
    }@else if $size == h2 and $device == mobile{
        font-size: 36px;
        line-height: 120%;
    }

    //h3

    @else if $size == h3 and $device == desktop{
        font-size: 38px;
        line-height: 120%;

    }@else if $size == h3 and $device == mobile{
        font-size: 32px;
        line-height: 130%;
    }

    @else if $size == h4 and $device == desktop{
        font-size: 24px;
        line-height: 130%;
    }@else if $size == h4 and $device == mobile{
        font-size: 18px;
        line-height: 130%;
    }
}





// mixns para os paragrafos


@mixin typeface-2($size: p2, $device: desktop){

  font-family: 'Source Sans 3', sans-serif;


  @if $size == p1 and $device == desktop{
    font-size: 24px;
    line-height: 130%;
  }@else if $size p1 and $device == mobile{
    font-size: 18px;
    line-height: 140%;
  }

  //p2
  @else if $size == p2 and $device == desktop{
    font-size: 18px;
    line-height: 140%;
    
  }@else if $size == p2 and $device == mobile{
    font-size:  16px;
    line-height: 140%;
  }

  // p3
  @else if $size == p3 and $device == desktop{
    font-size: 14px;
    line-height: 150%;
  }@else if $szie ==  p3 and $device == mobile{
    font-size: 14px;
    line-height: 150%;
  }
}



h1{
    color: $primary-dark-normal;

    @include typeface-1(h1, desktop );


    @include responsive(m){
        @include typeface-1(h1, mobile );
    }
}


h2{
    color: $primary-dark-normal;

    @include typeface-1(h2, desktop );

    @include responsive(m){
        @include typeface-1(h2, mobile );
    }

    @include responsive(s){
        @include typeface-1(h2, mobile );
    }

    @include responsive(xs){
        @include typeface-1(h2, mobile );
    }
}



h3{
    color: $primary-dark-light;


    @include typeface-1(h3, desktop );


    @include responsive(m){
        @include typeface-1(h3, mobile );
    }

    @include responsive(s){
        @include typeface-1(h3, mobile );
    }

    @include responsive(xs){
        @include typeface-1(h3, mobile );
    }
}


h4{
    //background: linear-gradient(220.94deg, #BBE768 14.43%, #496022 85.28%);
    background: #00B9FF;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    position: relative;



    @include typeface-1(h4, desktop);


    @include responsive(m){
        @include typeface-1(h4, mobile );

    }
}



p{
    color: $primary-white-dark;

    @include typeface-2(p2, desktop);

    @include responsive(m){
        @include typeface-2(p2, mobile );
    }

    @include responsive(s){
        @include typeface-2(p2, mobile );
    }
    @include responsive(xs){
        @include typeface-2(p3, mobile );
    }
}



.bold{
    font-weight: bold;
    color: $primary-dark-dark;
}

strong{
    color: $primary-dark-dark;

    @include typeface-2(p2,desktop );

    @include responsive(m){
        @include typeface-2(p2, mobile )
    }

}

.text-center{
    text-align: center;
}

.weight-light{
    font-weight: 300;
}

